body {
    background-color: #FFDBE9;
    font-family: "mc";
    color: #000000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: "mc";
    src: url("../fonts/regular.otf") format("opentype");
}

.landing {
    margin: 0 auto;
    text-align: center;
}

a {
    color: #808080;
    text-decoration: none;
    transition: ease-in-out .1s;
}

a:hover {
    color: #fff;
    text-decoration: none;
}
